body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  background: #0b4176;
  height: 60px;
  color: #fff;
}

.nav-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  width: 100%;
  padding: 0 30px;
}

nav button {
  background: #fff;
  color: #0b4176;
  border: 1px solid #fff;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 700;
  padding: 8px 20px;
  height: 40px;
}

header {
  align-items: center;
  background: #0d64b0;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.hero-text {
  margin-top: -30px;
}

.header-get-started {
  background: green;
  border-radius: 100px;
  border: 1px solid green;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  height: 46px;
  padding: 8px 20px;
  width: 200px;
  margin-bottom: 30px;
}

.footer-button {
  background: green;
  border-radius: 100px;
  border: 1px solid green;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  height: 46px;
  padding: 8px 20px;
  width: 200px;
}

footer {
  display: flex;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.center-img {
  height: 180px;
  weight: 260px;
  margin: 30px;
  align-self: center;
}

.grey-background {
  background: #EAEAEA;
}

.white-background {
  background: #fff;
}

.blue-background {
  background: #0d64b0;
  color: #fff;
}

.blue-text {
  color: #1caff6;
}

.blurb {
  display: flex;
}

.blurb img {
  margin-right: 15px;
  height: 42px;
  width: 42px;
}

.blurb h3 {
  margin-top: 0;
}

.button-row {
  display: flex;
  margin-bottom: 30px;
}

.blue-button {
  display: flex;
  align-items: center;
  border: 2px solid #1caff6;
  background: transparent;
  border-radius: 100px;
  color: #1caff6;
  padding: 7px 30px;
  font-weight: bold;
  margin-right: 20px;
}

.blue-button img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.video-link {
  display: flex;
  color: #1caff6;
  align-items: center;
}

.video-link img {
  height: 42px;
  width: 42px;
}

.video-link h3 {
  padding: 0 5px;
}

a {
  text-decoration: none;
  margin-bottom: 30px;
}

.footer {
  display: flex;
  height: 200px;
  padding: 20px 30px;
  align-items: center;
  justify-content: space-around;
}